.playing {
  position: fixed;
  bottom: 0;
  background: linear-gradient(to right, black, #01703c);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  display: none;
  .info {
    display: flex;
    align-items: center;
    gap: 30px;
    img {
      width: 90px;
      border-radius: 50%;
    }
    p {
      color: #d6eab5;
      margin-bottom: 5px;
    }
  }
  .audio-player {
    display: flex;
    align-items: center;
  }

  .audio-player button {
    background: transparent;
    border: none;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s all ease;
  }

  .audio-player button:hover {
    transform: scale(1.3);
  }
}
.animate {
  animation: turn 5s infinite linear;
}

@keyframes turn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
